.watercooling {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  width: 80%;
  height: 100%;
  margin-top: 50px;
}

.leftSide {
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: -140px;
}

.text {
  margin-top: 25px;
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
  letter-spacing: 1px;
}

.image {
  width: 500px;
  border: 1px solid rgba(197, 7, 245, 1);
  box-shadow: -1px 0px 31px 0px rgba(197, 7, 245, 0.75);
}
